html, body {
	height:100%;
	width:100%;
	background-color: #1B1D28;
	overflow: hidden;
}
p{
	font-family: 'Source Sans Pro', sans-serif;
}
#sidebar{
	float:left;
	height:100%;
	width:25%;
	background-color: #1B1D28;

}
#sidebar-content{
	margin-top:10%;
}
#img-holder{
	background-color:#14A9A2;
	height:30%;
	width:70%;
	border-radius: 100%;
	margin-left: 12%;
}
#the-rest{
	margin-left: auto;
	margin-right: auto;
	margin-top: -10%;
	height: 97%;
	width: 97%;
	background-color: white;
}
.side-but{
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 5%;
	padding-right: 5%;
	display:inline;
	color: #f6f6f6;
	background-color: #1B1D28;
	border-radius: 10px;
	border: solid 3px #14A9A2;
	font-size: 20px;
}
.side-but:hover {
	background-color: #114845;
	cursor: cell;
}
.center-horizontal{
	margin-left: auto;
	margin-right: auto;
}

.side-text{
	font-size: 25px;
	color:#F6F6F6;
	border-bottom: solid 1px #F6F6F6;
	padding:2%;
	text-align:center;
	cursor: cell;
}
#the-rest-content{
	margin-top: 10%;
}